.panel{
    box-shadow: 0 0 20px black;
    padding: 20px;
    border-radius: 1px;
    gap: 5px;
    margin: 10px;
    background-color: aliceblue;
}

.panel h1{
    color: #0000FF;
}

.panel p, .panel ul li{
    color: #b2995a;
    font-size: 1.2rem;
}
