.panel{
    box-shadow: 0 0 2px black;
    padding: 20px;
    border-radius: 1px;
    gap: 5px;
    margin: 10px;
    background-color: yellow;
}

.panel h1{
    color: #0000FF;
}

.panel ul li{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
}

.panel ul li strong{
    color: black;
    font-weight: 850;
}

