html {
    scroll-behavior: smooth;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 1150px) {
    header, main{
        margin: 0 4rem 0 4rem;
        padding: 0 4rem 0 4rem;
    }

    footer{
        margin: 0 auto;
        padding: 0 2rem 0 2rem;
    }
}

body{
    background-color: snow;
}

header h1 a{
    text-decoration: none;
    color: #007bff;
    text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu a:hover{
    color: #007bff;
    transition: ease-in 0.3s;
}

.menu a.btn-contact {
  background: none;
  color: #007bff;
  padding: 0.5rem 1rem;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.menu a.btn-contact:hover {
    background-color: #007bff;
    color: white;
    transition: ease-in 0.3s;
}

/* Bouton hamburger */
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    max-height: 0;              /* caché */
    overflow: hidden;           /* masque le contenu */
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 1rem;
    opacity: 0;                 /* invisible */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .menu.show {
    max-height: 500px;          /* hauteur suffisante pour contenir les liens */
    opacity: 1;                 /* visible */
  }

  .menu-toggle {
    display: block;
  }
}


#profile-container{
    text-align: center;
    width: 100%;
}

main h1{
    margin-top: 2rem;
}

#panel-formations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;
}

@media (max-width: 700px){
    #panel-formations{
        display: flex;
        flex-direction: column;
    }
}

#panel-formations .formation-item{
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    box-shadow: 0 0 10px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white
}

#panel-formations .formation-item img {
    /* width: 50px; */
    /* height: auto; */
    padding: 10px;
    flex-shrink: 0;
}

#panel-formations .formation-item h2, #panel-formations .formation-item p {
    margin: 10px 0 0 10px;
}

#panel-formations .formation-title {
  display: flex;
  /* flex-wrap: wrap;  */
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 1rem;
}

#panel-formations .formation-title h2 {
  flex: 1 1 auto;               /* le titre occupe l’espace restant */
}

#panel-formations .formation-title img {
  flex: 0 0 auto;               /* l’image garde sa taille */
  width: 15%;             /* ajuste selon ton besoin */
  height: auto;
}

@media (max-width: 768px) {
    #panel-formations .formation-title {
        flex-direction: column;
        align-items: flex-start;
    }

    #panel-formations .formation-title img {
        width: 50%;
    }
}



.filtres{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

@media(max-width: 350px){
    .filtres{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 0px;
        /* align-items: center; */
    }
}

.filtres button{
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.filtres button a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;  /* Retire le soulignement des liens */
    color: inherit;         /* Optionnel : pour hériter de la couleur du texte parent */
}

.filtres button:hover {
    color: #007bff;
    transition: ease-in 0.3s;
}

article div p{
    font-weight: 600;
}

#hardskills li, #softskills li{
    font-size: 1.3rem;
}

#hardskills ul, #softskills ul{
    margin-top: -0.5rem;
}

#hardskills div, #softskills div {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
}

#hardskills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

#softskills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}


@media (max-width: 860px){
    #hardskills, #softskills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px;
    }
}

@media (max-width: 500px){
    #hardskills, #softskills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 10px;
    }
}

@media (max-width: 300px){
    .filtres ul{
        flex-direction: column;
    }
}

#web-design, #mobile {
    display: none;
}

#web-dev, #web-design, #mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espace entre les colonnes */
    padding: 10px;
}

@media (max-width: 675px) {
    #web-dev, #web-design, #mobile{
        grid-template-columns: repeat(1, 1fr);
    }
}

#web-dev .projet-item li, #web-design .projet-item li, #mobile .projet-item li{
    font-size: 1.2rem;
    font-weight: 500;
}

#web-dev .projet-item ul, #web-design .projet-item ul, #mobile .projet-item ul{
    margin-top: -1rem;
}

#web-dev .projet-item, #web-design .projet-item, #mobile .projet-item {
    position: relative; /* Permet de positionner l'image par rapport à ce conteneur */
    display: flex;
    flex-direction: column; /* Organise le contenu de chaque bloc en colonne */
    justify-content: flex-start; /* Aligner le contenu en haut */
    align-items: flex-start; /* Aligner le texte à gauche dans chaque bloc */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
}

#web-dev .projet-item img, #web-design .projet-item img, #mobile .projet-item img {
    width: 100%;
    height: auto;
}

/* #but h2 {
    text-align: left; 
    margin-bottom: 10px;
} */

.projet-item p{
    font-size: 1.2rem;
    font-weight: 500;
}

.projet-item p strong{
    color: black;
    font-weight: 800;
}

#panel-emplois {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espace entre les colonnes */
    padding: 10px;
}

#panel-emplois .emplois-item {
    position: relative; /* Permet de positionner l'image par rapport à ce conteneur */
    display: flex;
    flex-direction: column; /* Organise le contenu de chaque bloc en colonne */
    justify-content: flex-start; /* Aligner le contenu en haut */
    align-items: flex-start; /* Aligner le texte à gauche dans chaque bloc */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
}

#panel-emplois img{
   /* position: absolute;
    top: 20px;
    right: 10px; */
    width: 100%; 
    height: auto;
}

#panel-emplois .emplois-item p, #panel-emplois .emplois-item ul li{
    font-size: 1.2rem;
    font-weight: 500;
}

#web-dev .projet-item p a, #web-design .projet-item p a, #mobile .projet-item p a{
    text-decoration: none;
    color: white;
}

#web-dev .projet-item .lien-projet, #web-design .projet-item .lien-projet, #mobile .projet-item .lien-projet{
    color: black;
}

#panel-emplois .emplois-item p strong{
    color: black;
    font-weight: 800;
}

@media (max-width: 1300px) {
    #panel-emplois {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    #panel-emplois {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 350px){
    .filtres ul{
        flex-direction: column;
    }
}

.cv {
  display: inline-block;
  width: 150px;
  margin: 10px;
  text-align: center;
  /* border: 1px solid #ccc; */
  border-radius: 12px;
  padding: 10px;
  /* background-color: #f9f9f9; */
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
}

.cv img {
  width: 10%;
  height: auto;
  border-radius: 8px;
}

.cv .cv-button {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color:blue;
}

#embauche {
    display: flex;
    justify-content: space-around; /* espace entre les deux blocs */
    align-items: flex-start;
    flex-wrap: wrap; /* pour que ça s'adapte sur mobile */
    margin: 20px;
    gap: 20px;
}

#embauche .cv {
    flex: 1;
    min-width: 300px; /* pour éviter que ça devienne trop petit */
}

button .cv-button{
    background: none;
    border: 1px solid red;
}

a.cv{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;  /* Retire le soulignement des liens */
    color: red;
    border: 1px solid red;
}

#embauche .cv p{
    text-decoration: none;
    font-size: 19px;
    color: red;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

#embauche .ux-design a{
    font-weight: 600;
}

#embauche .cv a:hover{
    color: magenta;
}

footer {
    margin-top: 4rem;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

@media (max-width: 675px) {
    footer{
        flex-direction: column;
    }
}

footer .droits-auteur{
    text-align: center;
}

/* footer h1 {
    color: blue;
    text-align: center;
    margin-bottom: 20px;
} */

.contact-icons {
    float: right;
    display: flex;
    justify-content: center; /* Centrer les icônes horizontalement */
    gap: 20px; /* Espacement entre les icônes */
}

@media(max-width: 400px){
    .contact-icons {
        display: flex;
        justify-content: center; /* Centrer les icônes horizontalement */
        flex-direction: column;
    }
}

.contact-icons img {
    width: 30px; /* Taille des images */
    height: auto;
}
