html{
    font-family: 'Samsung Sharp Sans', "Segoe UI", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    scroll-behavior: smooth; /* Permettre le défilement de la page web */
}

body{
    /* Personnalisation de mon identité visuelle pour mon portfolio */
    font-family: 'Samsung Sharp Sans', "Segoe UI", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: snow;

    /* Mise en forme de mon portfolio */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px 10px;
}

/* Continuité de la mise en forme de mon portfolio */
main{
    flex-grow: 1;
}

@media (min-width: 1150px) {
    header, main{
        margin: 0 4rem 0 4rem;
        padding: 0 4rem 0 4rem;
    }

    footer{
        padding: 0 2rem 0 2rem;
    }
}

/* HEADER */

/* Mettre le titre en bleu */
header .header-container h1 a{
    text-decoration: none;
    color: #007bff;
    text-align: center;
}

/* Mise en page de mon header en flex */
header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

/* Mise en page de mon menu en flex */
header .header-container .menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

header .header-container .menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Mettre en bleu au survol avec l'animation */
header .header-container .menu a:hover{
    color: #007bff;
    transition: ease-in 0.2s;
}

/* Mettre le bouton Contact en bleu avec une bordure bleu sans arrière-plan */
header .header-container .menu a.bouton-contact{
    background: none;
    color: #007bff;
    padding: 0.5rem 1rem;
    border: 2px solid #007bff;
    border-radius: 5px;
}

/* Mettre le bouton Contact en blanc et l'arrière-plan en bleu */
header .header-container .menu a.bouton-contact:hover{
    background-color: #007bff;
    color: white;
    transition: ease-in 0.2s;
}

/* Configurer le menu */
header .header-container .menu-toggle{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Design responsive pour ceux qui utilisent leur smartphone */
@media (max-width: 768px) {
    /* Mettre en place le menu hamburger */
    header .header-container .menu{
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        align-items: flex-end; /* Mettre le menu hamburger en haut à droite */
        width: 100%;
        margin-top: 1rem;
        opacity: 0;
        /* Animation pour ouvrir ou fermer le menu hamburger */
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    }

    /* Si on appuie sur le bouton du menu, afficher les rubriques */
    /* A voir sur JavaScript ou le script en html aussi dès maintenant */
    header .header-container .menu.show{
        max-height: 500px;
        opacity: 1;
    }

    header .header-container .menu-toggle{
        display: block;
    }
}


/* MAIN */

/* Mettre en valeur mon profil */
main #profile-container .about-me h1, main #profile-container .about-me h2, main #profile-container .about-me p{
    text-align: center;
}

main #profile-container .about-me h1, main #profile-container .about-me h2{
    font-weight: 500;
}

main #profile-container .about-me h1{
    font-size: 3rem;
}

main #profile-container .about-me h2{
    color: #007bff;
    font-size: 1.5rem;
}

main #profile-container .about-me p{
    font-size: 20px;
}

/* Laisser de l'espace pour la mise en page */
main h1{
    margin-top: 2rem;
}

/* PANEL DES FORMATIONS */

/* Enlever les choses parasites */
main .panel-formations-scrollable #panel-formations .formation-item .liste-certifications li a{
    text-decoration: none;
}

main .panel-formations-scrollable #panel-formations .formation-item .liste-certifications li a:hover{
    color: white;
    transition: ease-in 0.2s;
}

/* Activer le défilement automatique pour faciliter la lecture de nos formations */
main .panel-formations-scrollable #panel-formations{
    overflow-x: auto;
}

/* Laisser de l'espace entre les blocs de formations */
main .panel-formations-scrollable #panel-formations{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* Mettre chaque formation en forme */
main .panel-formations-scrollable #panel-formations .formation-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 10px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

main .panel-formations-scrollable #panel-formations .formation-item h2, main .panel-formations-scrollable #panel-formations .formation-item p{
    margin: 10px 0 0 10px;
}

/* Mettre le header de chaque bloc de formation en forme */
main .panel-formations-scrollable #panel-formations .formation-item .formation-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

main .panel-formations-scrollable #panel-formations .formation-item .formation-title h2{
    flex: 1 1 auto;
}

/* Customiser l'image */
main .panel-formations-scrollable #panel-formations .formation-item .formation-title img{
    flex: 0 0 auto;
    width: 70px;
    height: auto;
    padding: 10px;
}

/* Mettre en forme le header pour ceux qui utilisent leur smartphone(Design responsive) */
@media (max-width: 620px) {
    main .panel-formations-scrollable #panel-formations .formation-item .formation-title{
        flex-direction: column;
        align-items: flex-start;
    }

    main .panel-formations-scrollable #panel-formations .formation-item .formation-title img{
        width: 200px;
    }
}

/* UTILITAIRES : Système de filtres */
#filtres.skills, #filtres.projets{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

/* Customiser les boutons */
#filtres.skills button, #filtres.projets button{
    font-family: 'Samsung Sharp Sans', "Segoe UI", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background: none;
    border: none;
    border-radius: 12px;
    padding: 15px;
}

/* Customiser le texte des boutons */
#filtres.skills button a, #filtres.projets button a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: inherit; /* faciliter la lecture au niveau des couleurs */
}

#filtres.skills button:hover, #filtres.projets button:hover{
    color: #007bff;
    transition: ease-in 0.2s;
}

@media (max-width: 300px) {
    #filtres.skills ul{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #filtres.projets ul{
        flex-direction: column;
    }
}

/* PANEL DES COMPETENCES ET QUALITÉS */

/* Activer le défilement automatique pour faciliter la lecture de nos compétences et qualités */
main .hardskills-scrollable #hardskills, main .softskills-scrollable #softskills{
    overflow-x: auto;
}

/* Customiser la taille des images */
main .hardskills-scrollable #hardskills div img{
    width: 30px;
    height: auto;
}

/* Enlever les points inutiles */
main .hardskills-scrollable #hardskills ul{
    list-style: none;
}

/* Mettre en forme */
main .hardskills-scrollable #hardskills ul, main .softskills-scrollable #softskills ul{
    margin-top: -0.5rem;
}

/* Personnaliser la liste des compétences et qualités */
main .hardskills-scrollable #hardskills li, main .softskills-scrollable #softskills li{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 1.3rem;
}

/* Customiser la taille des images */
main .hardskills-scrollable #hardskills li img, main .softskills-scrollable #softskills li img{
    width: 30px;
    height: auto;
}

/* Mettre en forme les blocs en flex */
main .hardskills-scrollable #hardskills, main .softskills-scrollable #softskills{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-evenly;
}

/* Customiser les blocs de compétences et qualités */
main .hardskills-scrollable #hardskills div, main .softskills-scrollable #softskills div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
}

/* Utilitaire pour les filtres */
main #web-design, main #app-dev{
    display: none;
}

/* PROJETS */

/* Activer le défilement */
main #web-dev, main #web-design, main #app-dev{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 3rem;
}

/* Mise en forme des blocs en flex et mettre l'arrière-plan des blocs en bleu */
main #web-dev .projet-item, main #web-design .projet-item, main #app-dev .projet-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* padding: 20px; */
    box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
}

/* Mettre en forme le header de chaque bloc en flex */
main #web-dev .projet-item .projet-image, main #web-design .projet-item .projet-image, main #app-dev .projet-item .projet-image {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences, main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-competences, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-qualites, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin: 0 10px 20px 0;
    gap: 15px;
    padding: 20px;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item, main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    gap: 15px;
    padding: 0 10px 0 10px;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item img, main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item img, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item img, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item img, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item img, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item img{
    width: 30px;
    height: auto;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item p, main #web-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item p, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item p, main #web-design .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item p, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-competences .competence-item p, main #app-dev .projet-item .projet-infos-scrollable .projet-infos .projet-qualites .qualite-item p{
    font-weight: 500;
    color: white;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos a, main #web-design .projet-item .projet-infos-scrollable .projet-infos a, main #app-dev .projet-item .projet-infos-scrollable .projet-infos a{
    text-decoration: none;
    color: white;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos a:hover, main #web-design .projet-item .projet-infos-scrollable .projet-infos a:hover, main #app-dev .projet-item .projet-infos-scrollable .projet-infos a:hover{
    text-decoration: underline;
}

main #web-dev .projet-item .projet-infos-scrollable .projet-infos a::after, main #web-design .projet-item .projet-infos-scrollable .projet-infos a::after, main #app-dev .projet-item .projet-infos-scrollable .projet-infos a::after{
    color: white;
}

/* Customiser la taille des images */
main #web-dev .projet-item .projet-image img, main #web-design .projet-item .projet-image img, main #app-dev .projet-item .projet-image img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

/* Personnalisation des textes */
main #web-dev .projet-item .projet-texte, main #web-design .projet-item .projet-texte, main #app-dev .projet-item .projet-texte{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    color: white;
    padding: 20px;
}

main #web-dev .projet-item p strong, main #web-design .projet-item p strong, main #app-dev .projet-item p strong{
    color: white;
    font-weight: 800;
}

main #web-dev .projet-item p a, main #web-design .projet-item p a, main #app-dev .projet-item p a{
    text-decoration: none;
    color: white;
}

main #web-dev .projet-item .lien-projet, main #web-design .projet-item .lien-projet, main #app-dev .projet-item .lien-projet{
    color: black;
}

main #web-dev .projet-item ul, main #web-design .projet-item ul, main #app-dev .projet-item ul{
    font-weight: 500;
}

/* EMPLOIS */
main .panel-emplois-scrollable #panel-emplois{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: -1px;
    overflow-x: auto;
}

main .panel-emplois-scrollable #panel-emplois p strong{
    color: black;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* padding: 20px; */
    box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
    border: 1px solid black;
}

/* Mettre en forme le header de chaque bloc en flex */
main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-image {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-lieu, main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-qualites{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin: 0 10px 20px 0;
    gap: 15px;
    padding: 20px;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-lieu .emploi-item, main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-qualites .qualite-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    gap: 15px;
    padding: 0 10px 0 10px;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-lieu .emploi-item img, main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-qualites .qualite-item img{
    width: 30px;
    height: auto;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-lieu .emploi-item p, main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos .emploi-qualites .qualite-item p{
    font-weight: 500;
    color: white;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos a{
    text-decoration: none;
    color: white;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos a:hover{
    text-decoration: underline;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-infos-scrollable .emploi-infos a::after{
    color: white;
}

/* Customiser la taille des images */
main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-image img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

/* Personnalisation des textes */
main .panel-emplois-scrollable #panel-emplois .emploi-item .emploi-texte{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    color: white;
    padding: 20px;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item p strong{
    color: white;
    font-weight: 800;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item p a{
    text-decoration: none;
    color: white;
}

main .panel-emplois-scrollable #panel-emplois .emploi-item ul{
    font-weight: 500;
}

/* Bloc Embauche */

/* Mise en page du bloc embauche via le flexbox */
#embauche{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

/* Responsive design destiné à ceux qui utilisent leur smartphone */
@media (max-width: 670px) {
    #embauche{
        flex-direction: column;
    }
}

/* Personnalisation du bloc embauche */
#embauche .cv{
    flex: 1;
    width: 80vw;
}

#embauche .cv p{
    text-decoration: none;
    font-size: 19px;
    color: red;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

#embauche .cv a:hover{
    color: magenta;
}

/* Personnaliation des boutons */
button .cv-bouton{
    background: none;
    border: 1px solid red;
}

a.cv{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: red;
    border: 1px solid red;
}

.cv{
    display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
}

/* Customiser la taille de l'image */
.cv img{
    width: 10%;
    height: auto;
    border-radius: 8px;
}

/* FOOTER */

/* Mise en forme de mon footer */
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

/* Design responsive pour ceux qui utilisent leur smartphone */
@media (max-width: 765px) {
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

footer .droits-auteur{
    text-align: center;
}

/* Mettre ce bloc en bas à droite */
footer .contact-icons{
    float: right; /* Mettre les icônes en bas à droite */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Définir la taille des icônes */
footer .contact-icons img{
    width: 30px;
    height: auto;
}