html {
    scroll-behavior: smooth;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

@media (min-width: 1150px) {
    header, main{
        margin: 0 4rem 0 4rem;
        padding: 0 4rem 0 4rem;
    }

    footer{
        padding: 0rem 2rem 0 2rem;
    }
}

body{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: snow;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    padding: 0px 10px;
}

main{
    flex-grow:1;
}

#web-dev .projet-piece, #web-design .projet-piece, #mobile .projet-piece, #panel-emplois .projet-piece{
    border: 1px solid black;
    border-radius: 15px;
    background-color: #007bff;
}

#web-dev .projet-piece .projet-infos-container-scroll .projet-infos-container, #web-design .projet-piece .projet-infos-container-scroll .projet-infos-container, #mobile .projet-piece .projet-infos-container-scroll .projet-infos-container, #panel-emplois .projet-piece .projet-infos-container-scroll .projet-infos-container{
    overflow-x: auto;
}

#web-dev .projet-piece .projet-image img, #web-design .projet-piece .projet-image img, #mobile .projet-piece .projet-image img, #panel-emplois .projet-piece .projet-image img{
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
}

#web-dev .projet-piece .projet-image, #web-design .projet-piece .projet-image, #mobile .projet-piece .projet-image, #panel-emplois .projet-piece .projet-image { 
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
}

#web-dev .projet-piece .projet-text, #web-design .projet-piece .projet-text, #mobile .projet-piece .projet-text, #panel-emplois .projet-piece .projet-text{
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 20px;
    color: white;
}

#web-dev .projet-piece .projet-skills, #web-design .projet-piece .projet-skills, #mobile .projet-piece .projet-skills, #panel-emplois, .projet-piece .projet-skills{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    margin: 0 20px 20px;
    gap: 15px;
}

#web-dev .projet-piece .skill-item, #web-design .projet-piece .skill-item, #mobile .projet-piece .skill-item, #panel-emplois .projet-piece .skill-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    gap: 15px;
}

#web-dev .projet-piece .skill-item img, #web-design .projet-piece .skill-item img, #mobile .projet-piece .skill-item img, #panel-emplois .projet-piece .skill-item img{
    width: 30px;
    height: auto;
}

#web-dev .projet-piece .skill-item p, #web-design .projet-piece .skill-item p, #mobile .projet-piece .skill-item p, #panel-emplois .projet-piece .skill-item p{
    color: white;
    font-weight: 500;
}

header h1 a{
    text-decoration: none;
    color: #007bff;
    text-align: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu a:hover{
    color: #007bff;
    transition: ease-in 0.3s;
}

.menu a.btn-contact {
  background: none;
  color: #007bff;
  padding: 0.5rem 1rem;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.menu a.btn-contact:hover {
    background-color: #007bff;
    color: white;
    transition: ease-in 0.3s;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    max-height: 0;  
    overflow: hidden;  
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 1rem;
    opacity: 0; 
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .menu.show {
    max-height: 500px; 
    opacity: 1;
  }

  .menu-toggle {
    display: block;
  }
}


#profile-container{
    text-align: center;
    width: 100%;
}

main h1{
    margin-top: 2rem;
}

#panel-formations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

@media (max-width: 700px){
    #panel-formations{
        display: flex;
        flex-direction: column;
    }
}

#panel-formations .formation-item{
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    box-shadow: 0 0 10px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    overflow-x: auto;
}

#panel-formations .formation-item h2, #panel-formations .formation-item p {
    margin: 10px 0 0 10px;
}

#panel-formations .formation-title {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 1rem;
}

#panel-formations .formation-title h2 {
  flex: 1 1 auto; 
}

#panel-formations .formation-title img {
  flex: 0 0 auto; 
  width: 15%; 
  height: auto;
  padding: 10px
}

@media (max-width: 768px) {
    #panel-formations .formation-title {
        flex-direction: column;
        align-items: flex-start;
    }

    #panel-formations .formation-title img {
        width: 50%;
    }
}



.filtres{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

@media(max-width: 500px){
    .filtres{
        flex-direction: column;
        gap: 0px;
    }
}

.filtres button{
    padding: 15px;
    border-radius: 12px;
    border: none;
    background: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.filtres button a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none; 
    color: inherit;
}

.filtres button:hover {
    color: #007bff;
    transition: ease-in 0.3s;
}

article div p{
    font-weight: 600;
}

#hardskills li, #softskills li{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

#hardskills li img, #softskills li img{
    width: 30px;
    height: auto;
}

#hardskills ul, #softskills ul{
    margin-top: -0.5rem;
}

#hardskills ul{
    list-style: none;
}

#hardskills div, #softskills div {
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
    overflow-x: auto;
}

#hardskills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#softskills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media (max-width: 860px){
    #hardskills, #softskills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 500px){
    #hardskills, #softskills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

@media (max-width: 300px){
    .filtres ul{
        flex-direction: column;
    }
}

#web-design, #mobile {
    display: none;
}

#web-dev, #web-design, #mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    overflow-x: auto;
}

@media (max-width: 675px) {
    #web-dev, #web-design, #mobile{
        grid-template-columns: repeat(1, 1fr);
    }
}

#web-dev .projet-item li, #web-design .projet-item li, #mobile .projet-item li{
    font-size: 1.2rem;
    font-weight: 500;
}

#web-dev .projet-item ul, #web-design .projet-item ul, #mobile .projet-item ul{
    margin-top: -1rem;
}

#web-dev .projet-item, #web-design .projet-item, #mobile .projet-item {
    position: relative; /* Permet de positionner l'image par rapport à ce conteneur */
    display: flex;
    flex-direction: column; /* Organise le contenu de chaque bloc en colonne */
    justify-content: flex-start; /* Aligner le contenu en haut */
    align-items: flex-start; /* Aligner le texte à gauche dans chaque bloc */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;box-shadow: 0 0 10px black;
    background-color: #007bff;
    color: white;
}

#web-dev .projet-item img, #web-design .projet-item img, #mobile .projet-item img {
    width: 100%;
    height: auto;
}

.projet-item p{
    font-size: 1.2rem;
    font-weight: 500;
}

.projet-item p strong{
    color: black;
    font-weight: 800;
}

#panel-emplois {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espace entre les colonnes */
    margin: -1px;
    overflow-x: auto;
}

#panel-emplois .emplois-item p, #panel-emplois .emplois-item ul li{
    font-size: 1.2rem;
    font-weight: 500;
}

#web-dev .projet-item p a, #web-design .projet-item p a, #mobile .projet-item p a{
    text-decoration: none;
    color: white;
}

#web-dev .projet-item .lien-projet, #web-design .projet-item .lien-projet, #mobile .projet-item .lien-projet{
    color: black;
}

#panel-emplois .emplois-item p strong{
    color: black;
    font-weight: 800;
}

@media (max-width: 1300px) {
    #panel-emplois {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    #panel-emplois {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 350px){
    .filtres ul{
        flex-direction: column;
    }
}

.cv {
  display: inline-block;
  width: 150px;
  margin: 10px;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
}

.cv img {
  width: 10%;
  height: auto;
  border-radius: 8px;
}

.cv .cv-button {
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
  color: blue;
}

#embauche {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 20px;
}

@media (max-width: 670px){
    #embauche{
        flex-direction: column;
    }
}

#embauche .cv {
    flex: 1;
    width: 80vw; 
}

button .cv-button{
    background: none;
    border: 1px solid red;
}

a.cv{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;  /* Retire le soulignement des liens */
    color: red;
    border: 1px solid red;
}

#embauche .cv p{
    text-decoration: none;
    font-size: 19px;
    color: red;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

#embauche .ux-design a{
    font-weight: 600;
}

#embauche .cv a:hover{
    color: magenta;
}

footer {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

@media(max-width: 595px){
    footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

footer .droits-auteur{
    text-align: center;
}

.contact-icons {
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px;
}

.contact-icons img {
    width: 30px; 
    height: auto;
}
