.filtres{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

@media(max-width: 350px){
    .filtres{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* gap: 10px; */
        /* align-items: center; */
    }
}

.filtres button{
    padding: 15px;
    border-radius: 2px;
    border: none;
    background: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.filtres button a {
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;  /* Retire le soulignement des liens */
    color: inherit;         /* Optionnel : pour hériter de la couleur du texte parent */
}

.filtres button:hover {
    color: yellow;
    transition: ease-in 0.3s;
}

.filtres button:active {
    color: yellow;
}

#but, #every, #home {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 20px; /* Espace entre les colonnes */
    padding: 10px;
}

#but div, #every div, #home div {
    position: relative; /* Permet de positionner l'image par rapport à ce conteneur */
    display: flex;
    flex-direction: column; /* Organise le contenu de chaque bloc en colonne */
    justify-content: flex-start; /* Aligner le contenu en haut */
    align-items: flex-start; /* Aligner le texte à gauche dans chaque bloc */
    box-shadow: 0 0 20px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: yellow;
}

#but div img, #every div img, #home div img {
    width: 100%;
    height: auto;
}

#but h2 {
    text-align: left; /* Aligner le titre à gauche */
    margin-bottom: 10px;
}

article div p{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

article div p strong{
    color: black;
    font-weight: 800;
}

/* #panel img {
    position: absolute; 
    top: 20px; 
    right: 10px;
    width: 250px; 
    height: auto;
} */

#but p {
    text-align: left; /* Aligner les paragraphes à gauche */
    margin-top: 10px;
}

#home, #but {
    display: none;
}




@media screen and (max-width: 1200px) {
    #every, #but, #home {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    #every, #but, #home {
        grid-template-columns: repeat(1, 1fr);
    }

    .filtres ul{
        flex-direction: column;
    }
}


