#formations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

@media (max-width: 700px){
    #formations{
        display: flex;
        flex-direction: column;
    }
}

#formations div{
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    box-shadow: 0 0 20px black;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: yellow;
}

#formations div img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 70px;
    height: auto;
    padding: 10px;
    flex-shrink: 0;
}
#formations div h2, #formations div p {
    margin: 10px 0 0 10px;
} 



/* Style du titre */


#formations div h2{
    padding-top: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

#formations div p{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

#formations div p strong{
    color: black;
    font-weight: 800;
}

/* Logo en haut à droite */


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
